<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <package name="com.vipkid.kill.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/ItemKillMapper.xml"/>
        <mapper resource="mappers/ItemKillSuccessMapper.xml"/>
        <mapper resource="mappers/ItemMapper.xml"/>
        <mapper resource="mappers/NewBeeMallOrderItemMapper.xml"/>
        <mapper resource="mappers/NewBeeMallOrderMapper.xml"/>
        <mapper resource="mappers/RandomCodeMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
</configuration>